USE [piroy]
GO
/****** Object:  StoredProcedure [dbo].[pr_kardex_articulo]    Script Date: 03-Apr-26 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*
     EXPLIACIÓN DE KARDEX
	 Cuando digo "Kárdex", 
	 me refiero a un registro cronológico de los movimientos de stock 
	 de un artículo: entradas (compras), salidas (ventas), y el saldo resultante después de cada movimiento.

	 Se llama así porque antes se hacía en fichas físicas (tarjetas kárdex),
	 donde se llevaba este control manualmente. Hoy en día se hace por sistema, pero el concepto es el mismo.

	¿Para qué sirve?
	Saber cuánto stock hay disponible en cada momento.

	Rastrear de dónde viene cada entrada y a quién se le vendió cada salida.

	Detectar errores o faltantes en inventario.

	Cumplir con auditorías o reportes contables.*/
ALTER PROCEDURE [dbo].[pr_kardex_articulo]
    @desde DATE  ,
    @hasta DATE  ,
	@articulo INT,
	@actor VARCHAR(50) ,
	@tipofiltro tinyint 
AS
BEGIN
    SET NOCOUNT ON;

	if @tipofiltro = 1
	   set @desde = '1900-01-01'
	   set @hasta = cast(GETDATE() as date)
	   set @hasta = cast(@hasta as date)
	   
	 
    -- Tabla temporal de movimientos
    CREATE TABLE #Movimientos (
        fecha DATE,
        tipo VARCHAR(50),
        comprobante VARCHAR(50),
        tercero VARCHAR(100),
        cantidad DECIMAL(10,2)
    );

    -- Calcular saldo inicial (antes de @desde)
    DECLARE @saldo_inicial DECIMAL(10,2) = 0;

    -- Compras antes de @desde
    SELECT @saldo_inicial += ISNULL(SUM(d.COM_CANTIDAD), 0)
    FROM COMPRASCAB c
    JOIN COMPRASDET d ON c.COM_NRO = d.COM_NRO
    WHERE d.ART_COD = @articulo AND CONVERT(DATE,c.COM_FECHA) < @desde;

	SELECT @saldo_inicial += ISNULL(SUM(canitdad), 0)
    FROM HIS_ALTAYBAJA a
	where a.art_cod = @articulo AND CONVERT(DATE,a.fecins) < @desde

    -- Ventas directas antes de @desde
    SELECT @saldo_inicial -= ISNULL(SUM(d.FACD_CANTIDAD), 0)
    FROM FACTURACAB f
    JOIN FACTURADET d ON f.FAC_NRO = d.FAC_NRO AND f.FAC_TIPO = d.FAC_TIPO
    WHERE d.ART_COD = @articulo AND CONVERT(DATE,f.FAC_FECHA) < @desde;

    -- Ventas por KIT antes de @desde
    SELECT @saldo_inicial -= ISNULL(SUM(d.FACD_CANTIDAD * ak.ART_CANTIDAD), 0)
    FROM FACTURACAB f
    JOIN FACTURADET d ON f.FAC_NRO = d.FAC_NRO AND f.FAC_TIPO = d.FAC_TIPO
    JOIN ARTICULOS_KIT ak ON d.ART_COD = ak.ART_CODKIT
    WHERE ak.ART_COD = @articulo AND CONVERT(DATE,f.FAC_FECHA) < @desde;

    -- Insertar fila de saldo inicial
    INSERT INTO #Movimientos (fecha, tipo, comprobante, tercero, cantidad)
    VALUES (DATEADD(DAY, -1, @desde), 'SALDO INICIAL', '', '', @saldo_inicial);

    -- Compras dentro del rango
    INSERT INTO #Movimientos
    SELECT
        c.COM_FECHA,
        'COMPRA',
        c.COM_TIPODOC + c.COM_NRODOC ,
        p.PRV_NOMBRE,
        d.COM_CANTIDAD
    FROM COMPRASCAB c
    JOIN COMPRASDET d ON c.COM_NRO = d.COM_NRO
    JOIN PROVEEDOR p ON c.PRV_COD = p.PRV_COD
    WHERE d.ART_COD = @articulo AND CONVERT(DATE,c.COM_FECHA) BETWEEN @desde AND @hasta;

    -- Ventas directas dentro del rango
    INSERT INTO #Movimientos
    SELECT
        f.FAC_FECHA,
        'VENTA_GRANEL',
        'FA ' + CAST(f.FAC_NRO AS VARCHAR),
        cli.CLI_NOMBRE,
        -d.FACD_CANTIDAD
    FROM FACTURACAB f
    JOIN FACTURADET d ON f.FAC_NRO = d.FAC_NRO AND f.FAC_TIPO = d.FAC_TIPO
    JOIN CLIENTE cli ON f.CLI_COD = cli.CLI_COD
    WHERE d.ART_COD = @articulo AND CONVERT(DATE,f.FAC_FECHA) BETWEEN @desde AND @hasta;

    -- Ventas por KIT dentro del rango
    INSERT INTO #Movimientos
    SELECT
        f.FAC_FECHA,
        'VENTA_BOLSA',
        'FA ' + CAST(f.FAC_NRO AS VARCHAR),
        cli.CLI_NOMBRE,
        -d.FACD_CANTIDAD * ak.ART_CANTIDAD
    FROM FACTURACAB f
    JOIN FACTURADET d ON f.FAC_NRO = d.FAC_NRO AND f.FAC_TIPO = d.FAC_TIPO
    JOIN ARTICULOS_KIT ak ON d.ART_COD = ak.ART_CODKIT
    JOIN CLIENTE cli ON f.CLI_COD = cli.CLI_COD
    WHERE ak.ART_COD = @articulo AND CONVERT(DATE,f.FAC_FECHA) BETWEEN @desde AND @hasta;

		 -- Insertar altas y bajas manuales 
	INSERT INTO #Movimientos (fecha, tipo, comprobante, tercero, cantidad )
	SELECT 
	    a.fecins, iif(a.canitdad>0,'ALTA','BAJA'), 'Nro. '+ cast(a.art_cod as nvarchar), @actor , a.canitdad 
       FROM HIS_ALTAYBAJA a
	   where a.art_cod = @articulo AND CONVERT(DATE,a.fecins) BETWEEN @desde AND @hasta;

    -- Mostrar resultados
    SELECT
        CONVERT(VARCHAR(10), fecha, 103) AS fecha_mostrar,  -- dd/mm/yyyy
        tipo,
        comprobante,
        tercero AS cliente_proveedor,
        cantidad,  -- formato numérico (sin texto)
        SUM(cantidad) OVER (ORDER BY fecha, tipo, comprobante) AS saldo
    FROM #Movimientos
    ORDER BY fecha, tipo, comprobante;

    DROP TABLE #Movimientos;
END;
